.center {
    display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #eceffc;
}

.btn {
    padding: 8px 20px;
    border-radius: 0;
    border: 0;
    overflow: hidden;
    cursor: pointer;
    transition: all .2s ease;

    &:hover {
        background-color: #7B84DB;
    }
    
  }

  .btn-red {
    background-color: rgba(255, 0, 0, 0.89);

    &:hover {
      background-color: rgba(255, 0, 0, 0.432);
    }
  }
  
  .form-input-material {

    width: 100%;
    --input-default-border-color: white;
    --input-border-bottom-color: white;
    display: flex;
    flex-direction: column;
    input {
      color: rgba(0, 0, 0, 0.8);
      padding: .2rem;
      border: 1px solid rgba(0, 0, 0, 0.8);
      &:focus {
        border:1px solid #7B84DB;
      }
    }

    label {
        font-size: .7rem;
        margin-bottom: 10px;
    }
  }
  
  .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 40px;
    color: white;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
    box-shadow: 0 0.4px 0.4px rgba(128, 128, 128, 0.109),
      0 1px 1px rgba(128, 128, 128, 0.155),
      0 2.1px 2.1px rgba(128, 128, 128, 0.195),
      0 4.4px 4.4px rgba(128, 128, 128, 0.241),
      0 12px 12px rgba(128, 128, 128, 0.35);
  
    h1 {
      margin: 0 0 24px 0;
      color: #7B84DB;
    }
  
    .form-input-material {
      margin: 12px 0;
    }
  
    .btn {
      width: 100%;
      margin: 18px 0 9px 0;
    }

  }
  